@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Roboto:ital,wght@0,300;0,400;0,500;1,100&display=swap');

$font-logo: "Boogaloo",
cursive;
$font-body: "Roboto",
sans-serif;
$font-body-bold: "Roboto",
sans-serif;

$color-primary: rgb(246, 247, 242);
$color-secondary: rgb(43, 43, 88);
$color-tertiary: rgb(14, 190, 234);
$color-footer: rgb(243, 241, 210);


* {
    margin: 0;
    padding: 0;
    max-width: 768px;
    font-family: $font-body;
    font-weight: 300;
    background-color: $color-primary;
}

a:link,
a:visited {
    text-decoration: none;
}

.bold {
    font-weight: 500;
}

.italics {
    font-style: italic;
}